body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
  color: var(--default-font-color);
}

#page {
  display: grid;

  grid-auto-flow: column;
  grid-template-areas:
    "header  header"
    "tablist tabpanel"
    "info    tabpanel";

  grid-template-columns: minmax(max-content, var(--nav-width)) 1fr;
  grid-template-rows: max-content max-content 1fr;

  column-gap: var(--container-gap);
  row-gap: var(--container-gap);

  margin: var(--container-gap);

  #info {
    grid-area: info;

    display: grid;
    grid-auto-flow: row;
    align-items: start;
  }

  #header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;

    .logo {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: "Oxanium Variable", system-ui;
    }

  }
}

#builder-grid-section {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr;
  row-gap: var(--container-gap);

  section.actions {
    margin-inline: var(--container-gap);
    margin-top: var(--container-gap);
    display: grid;
    grid-auto-flow: column;
    column-gap: var(--container-gap);
    align-items: center;
    justify-content: start;
  }
}

#builder-selection {

  display: grid;
  grid-template-rows: max-content 1fr;
  grid-auto-flow: row;

  .label {
    font-size: 1;
    font-weight: 700;
  }

  .counts {
    margin: 0.5rem 0 0 0rem;
    font-size: 0.875rem;

    display: grid;
    grid-template-columns: 2.5rem 1fr;
    grid-auto-rows: max-content;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    align-items: center;

    .count-data {
      justify-self: right;
      font-size: 1.25rem;
      font-weight: 700;
    }

  }

}