body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
  color: var(--default-font-color);
}

#page {
  display: grid;

  grid-auto-flow: column;
  grid-template-areas:
    "header  header"
    "tablist tabpanel"
    "info    tabpanel";

  grid-template-columns: minmax(max-content, var(--nav-width)) 1fr;
  grid-template-rows: max-content max-content 1fr;

  column-gap: var(--container-gap);
  row-gap: var(--container-gap);

  margin: var(--container-gap);

  #info {
    grid-area: info;

    display: grid;
    grid-auto-flow: row;
    align-items: start;
  }

  #header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;

    .logo {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: "Oxanium Variable", system-ui;
    }

  }
}