.nav-tabs {

  display: contents;

  .react-aria-TabList {
    grid-area: tablist;

    display: grid;
    grid-auto-flow: row;

    border: solid 1px var(--container-border-color);
  }

  .react-aria-Tab {

    height: var(--nav-tab-height);

    display: grid;
    grid-template-areas:
      "indicator-top    label"
      "indicator-mid    label"
      "indicator-bottom label";

    grid-template-columns: calc(var(--nav-indicator-size) + 1rem) 1fr;
    grid-template-rows: [start] 1fr 1fr 1fr [end];

    font-size: 0.875rem;
    cursor: pointer;

    color: var(--default-font-color);

    /* padding-inline: var(--container-padding-inline); */

    margin-inline: -1px;

    transition: var(--default-transition);

    &:first-child {
      margin-top: -1px;
    }

    &:last-child {
      margin-bottom: -1px;
    }

    &[data-hovered="true"] {
      background-color: var(--select-hover-bg-color);
      color: var(--select-hover-fg-color);
    }

    &[data-selected="true"] {
      background-color: var(--selection-bg-color);
      color: var(--selection-fg-color);
    }

    .label {
      grid-area: label;
      align-self: center;
      justify-self: start;
    }

    .indicator {
      grid-column: 1;
      grid-row: 1 / -1;
      width: var(--nav-indicator-size);
      height: var(--nav-indicator-size);
      border-radius: calc(var(--nav-indicator-size));
      align-self: center;
      justify-self: center;
      border: solid 1px var(--green-600);
      background-color: var(--bg-color);
    }

    &[data-selected="true"] .indicator {
      border-color: var(--bg-color);
    }

    .line {
      grid-column: 1;
      grid-row: 1 / -1;
      width: 0.125rem;
      background-color: var(--selection-bg-color);
      justify-self: center;
    }

    &:first-of-type .line {
      grid-row: 2 / -1;
    }

    &:last-of-type .line {
      grid-row: 1 / 3;
    }

    &[data-selected="true"] .line {
      background-color: var(--bg-color);
    }

    .step {
      font-size: 0.75rem;
      grid-column: 1;
      grid-row: 1 / -1;
      align-self: center;
      justify-self: center;
      color: var(--default-font-color);
    }
  }

  .react-aria-TabPanel {
    grid-area: tabpanel;

    display: grid;
    border: solid 1px var(--container-border-color);
  }
}

.react-aria-Button {

  background-color: color-mix(in srgb, var(--selection-bg-color) 10%, transparent);
  border: solid 1px color-mix(in srgb, var(--green-500) 30%, transparent);
  color: color-mix(in srgb, var(--default-font-color) 90%, transparent);
  /* color: var(--default-font-color); */
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 0;

  transition: var(--default-transition);

  &[data-hovered] {
    background-color: color-mix(in srgb, var(--selection-bg-color) 20%, transparent);
    color: var(--default-font-color);
    border-color: color-mix(in srgb, var(--green-500) 100%, transparent);
  }
}