:root {
  --bg-color: #1a1a1a;

  --green-main: #00ff00;
  --green-alt: #bdf000;
  --yellow-main: #bdf000;
  --yellow-alt: #bdf000;

  /* 
  --green-400: #00ff00;
  --green-500: #00cb00;
  --green-600: #009a00;
  --green-700: #006900;
  --green-800: #003d00;
  */

  /* https://pixelied.com/colors/color-palette-generator/green */
  --green-50: #023418;
  --green-100: #004b23;
  --green-200: #006400;
  --green-300: #007200;
  --green-400: #008000;
  --green-500: #38b000;
  --green-600: #00ff00;
  --green-700: #70e000;
  --green-800: #9ef01a;
  --green-900: #ccff33;

  --container-padding-inline: 0.5rem;
  --container-padding-block: 0.5rem;

  --container-border-color: var(--green-200);

  --container-gap: 0.5rem;

  --selection-bg-color: var(--green-600);
  --selection-fg-color: var(--bg-color);

  --select-hover-bg-color: color-mix(in srgb, var(--selection-bg-color) 10%, transparent);
  --select-hover-fg-color: var(--green-600);

  --default-font-color: var(--green-600);

  --default-transition: all 150ms ease-out;

  --nav-tab-height: 2.375rem;
  --nav-width: 18rem;
  --nav-indicator-size: 1.75rem;

}

.page-container {
  border: solid 1px var(--container-border-color);
  padding-inline: var(--container-padding-inline);
  padding-block: var(--container-padding-block);
}

