:root {
  --bg-color: #1a1a1a;

  --green-main: #00ff00;
  --green-alt: #bdf000;
  --yellow-main: #bdf000;
  --yellow-alt: #bdf000;

  /* 
  --green-400: #00ff00;
  --green-500: #00cb00;
  --green-600: #009a00;
  --green-700: #006900;
  --green-800: #003d00;
  */

  /* https://pixelied.com/colors/color-palette-generator/green */
  --green-50: #023418;
  --green-100: #004b23;
  --green-200: #006400;
  --green-300: #007200;
  --green-400: #008000;
  --green-500: #38b000;
  --green-600: #00ff00;
  --green-700: #70e000;
  --green-800: #9ef01a;
  --green-900: #ccff33;

  --container-padding-inline: 0.5rem;
  --container-padding-block: 0.5rem;

  --container-border-color: var(--green-200);

  --container-gap: 0.5rem;

  --selection-bg-color: var(--green-600);
  --selection-fg-color: var(--bg-color);

  --select-hover-bg-color: color-mix(in srgb, var(--selection-bg-color) 10%, transparent);
  --select-hover-fg-color: var(--green-600);

  --default-font-color: var(--green-600);

  --default-transition: all 150ms ease-out;

  --nav-tab-height: 2.375rem;
  --nav-width: 18rem;
  --nav-indicator-size: 1.75rem;

}

.page-container {
  border: solid 1px var(--container-border-color);
  padding-inline: var(--container-padding-inline);
  padding-block: var(--container-padding-block);
}


section.settings {
  padding: 1rem;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  row-gap: 1rem;
}

.react-aria-Checkbox {

  --selected-color: var(--green-600);
  --selected-color-pressed: var(--green-900);
  --checkmark-color: var(--bg-color);
  --border-color: var(--green-600);
  --text-color: var(--default-font-color);
  --border-color-pressed: var(--green-600);
  --focus-ring-color: var(--green-400);
  
  cursor: pointer;

  display: flex;
  /* This is needed so the HiddenInput is positioned correctly */
  position: relative;
  align-items: center;
  gap: 0.571rem;
  font-size: 0.875;
  color: var(--text-color);
  forced-color-adjust: none;

  .checkbox {
    width: 1.143rem;
    height: 1.143rem;
    border: 2px solid var(--border-color);
    border-radius: 0;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }

  &[data-pressed] .checkbox {
    border-color: var(--border-color-pressed);
  }

  &[data-focus-visible] .checkbox {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--selected-color-pressed);
      background: var(--selected-color-pressed);
    }

    svg {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & svg {
      stroke: none;
      fill: var(--checkmark-color);
    }
  }
}

.react-aria-Button {
  --focus-ring-color: var(--green-400);

  display: grid;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  column-gap: 0.375rem;
  height: 2rem;
  background-color: color-mix(in srgb, var(--selection-bg-color) 5%, transparent);
  border: solid 1px var(--green-600);
  color: color-mix(in srgb, var(--default-font-color) 90%, transparent);
  
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 0;

  transition: var(--default-transition);

  &[data-hovered] {
    background-color: color-mix(in srgb, var(--selection-bg-color) 15%, transparent);
    color: var(--default-font-color);
  }

  &[data-pressed] {
    background-color: color-mix(in srgb, var(--selection-bg-color) 30%, transparent);
    color: var(--default-font-color);
  }

  
}

.react-aria-TextField {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  color: var(--green-600);
  
  .react-aria-Input,
  .react-aria-TextArea {
    height: calc(2rem - 0.625rem);
    padding: 0.286rem;
    margin: 0;
    border: 1px solid var(--green-600);
    border-radius: 0;
    background: color-mix(in srgb, var(--green-600) 8%, transparent);
    font-size: 0.875rem;
    color: var(--field-text-color);

    &::placeholder {
      color: color-mix(in srgb, #ffffff 60%, transparent);
    }

    &[data-focused] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }
}
