---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>

  <style slot="head">
    h1 {
      font-family: "Oxanium Variable", system-ui;
    }
  </style>
  
  <h1>PEBKAC</h1>
</BaseLayout>