---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <style slot="head">
    body {
      padding: 1rem;
      background-color: #222222;

      color: #00ff00;
    }
    h1 {
      font-family: "Oxanium Variable", system-ui;
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
    h6 {
      font-family: "Oxanium Variable", system-ui;
      font-size: 0.875rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
    #main {
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      justify-items: center;
    }
    #brought-to-you-by {
      margin-top: 4rem;
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      justify-items: center;
      row-gap: 0.25rem;
    }

    #byline {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      font-weight: 300;
    }

    #and {
      font-size: 1.5rem;
      font-weight: 200;
    }

    #briarthrain {
      font-family: "Asimovian", system-ui;
      font-size: 2rem;
      font-weight: 700;
    }
    #tomservo {
      font-family: "Megrim", system-ui;
      font-size: 2rem;
      font-weight: 200;
    }
    .v-spacer-2x {
      height: 1.5rem;
    }
    .v-spacer-1x {
      height: 0.5rem;
    }
  </style>

  <div id="main">
    <h1>PEBKAC</h1>
    <h6>Pick Everything Builder KSA Astronomical Center</h6>
    <h6><i>the backronym is a WIP</i></h6>

    <p>
      <a href="/pebkac/builder/">Pick a celestial, any celestial!</a>
    </p>
    <h6>game data baked from KSA v2025.11.10.2915</h6>
    <h6>The orbits are currently taken using the J2000 reference Epoch / time (mostly)</h6>
    <div class="v-spacer-2x"></div>
    <h6><u><b>NOTE</b></u>: Currently an issue with texture references in Mars xml.  Don't checkbox to include Mars/Phobos/Deimos.</h6>
    <div class="v-spacer-2x"></div>
    <h6>---------------------------------------------------------------------------------------------</h6>
    <div class="v-spacer-2x"></div>
    <h6><u><b>WIP</b></u>: Default inclinations / orbits need revision with better averaged data and over a larger time scale.</h6>
    <div class="v-spacer-2x"></div>
    <h6><u><b>WIP</b></u>: Needs better UX, here be 🐲's</h6>
    <div class="v-spacer-2x"></div>
    <h6><u><b>TBD</b></u>: User editable CSV data, needs better UX, here be 🐲's</h6>
    <div class="v-spacer-2x"></div>
    <h6><u><b>TBD</b></u>: Will show a custom script which can be used to generate one's own orbit data (For any object in the NASA Horizons system)</h6>
    <h6><u><b>TBD</b></u>:on a selectable Epoch / time, which can then get uploaded to the site!</h6>
  </div>

  <div id="brought-to-you-by">
    <div id="byline">brought to you by</div>
    <div id="briarthrain">Briar Thrain</div>
    <div id="and">&amp;</div>
    <div id="tomservo">tomservo</div>
  </div>
</BaseLayout>
