---
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>

  <style slot="head">
    body {
      padding: 1rem;
    }
    h1 {
      font-family: "Oxanium Variable", system-ui;
      font-size: 3rem;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
    h6 
    {
      font-family: "Oxanium Variable", system-ui;
      font-size: 0.875rem;
      font-weight: 300;
      margin: 0;
      padding: 0;
    }
  </style>
  
  <h1>PEBKAC</h1>
  <h6>Pick Everything Builder KSA Astronomical Center</h6>

  <p>
    <a href="/pebkac/builder/">Pick a celestial, any celestial!</a>
  </p>
  
</BaseLayout>