---
import "@fontsource-variable/oxanium";
import "@fontsource-variable/inter";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>PEBKAC</title>
    <style>
      body {
        font-family: "Inter Variable", system-ui;
      }
    </style>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
