---
import "@fontsource-variable/inter";
import "@fontsource-variable/oxanium";
import "@fontsource-variable/source-code-pro";
import "@fontsource/asimovian";
import "@fontsource/megrim";

import "../styles/theme.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>PEBKAC</title>
    <style is:global>
      .monaco-editor { 
        /* hack to make monaco horizontal resizing (shrinking, specifically) work */
        position: absolute !important; 
      }

      body {
        font-family: "Inter Variable", system-ui;
        font-size: 16px;
        margin: 0;
        padding: 0;
      }
      a, a:visited {
        color: #00ff00;
        text-decoration: underline;
      }
    </style>
  </head>
  <slot name="head" />

  <body>
    <slot />
  </body>
</html>
